<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Minha Página</title>
    <style>
        body {
            background-image: url('https:'); /* Define a imagem de background */
            background-size: cover; /* Ajusta a imagem para cobrir toda a área */
            background-repeat: no-repeat; /* Evita que a imagem se repita */            
        }
        .container{
            text-align: center;     
            display:flex;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>BruxoTools</h1>
        <p>Ferramentas úteis para devs!</p>
        <h2><--Verifique o painel ao lado esquerdo!<--</h2>

        <footer>Made by Daniel Kenzo Takagi</footer>
    </div>
</body>

</html>
